@import '../../resources/scss/variables.scss';

.input{
    display: inline-block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid $primary;
    border-radius: 5px;
    background-color: transparent;
    color: $primary;

    &:focus{
        outline: 0px;
    }
}