@import '../../App/resources/scss/variables.scss';

.task{
    position: relative;
    padding: 30px;
    border: 1px solid $light;
    border-radius: 5px;
    background-color: $primary;
    &:hover{
        background-color: $secondary;
    }
    &:hover>.btn.delete, &:hover>.btn.complete {
        visibility: visible
    }
    .title{
        display: block;
        margin-right: 300px;
    }
    .status{
        font-size: 17px;
        font-weight: 800;
        &.success{
            color: $success;
        }
        &.error{
            color: $error;
        }
    }
    .btn.complete{
        position: absolute;
        right: 150px;
        top: 35px;
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        border: 1px solid $success;
        border-radius: 5px;
        background-color: transparent;
        color: $white;
        visibility: hidden;
        &:hover{
            background-color: $success;
        }
    }
    .btn.delete{
        position: absolute;
        right: 20px;
        top: 35px;
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        border: 1px solid $error;
        border-radius: 5px;
        background-color: transparent;
        color: $white;
        visibility: hidden;
        &:hover{
            background-color: $error;
        }
    }
}